<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rtscanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Printer</name>
    <js-module name="BarcodeScanner" src="www/Scanner.js">
        <!--<clobbers target="cordova.plugins.Printer" /> -->
        <clobbers target="RTScanner" />
    </js-module>
   <js-module src="www/ScannerConstants.js" name="Camera">
        <clobbers target="SCConstants" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.pebuu.scanner.BarcodeScanner" />
                <!--<param name="onload" value="true" />-->
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!--<uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.CAMERA"></uses-permission>
		    <uses-feature android:name="android.hardware.camera" />	
		    <uses-feature android:name="android.hardware.camera.autofocus" /> -->
	        <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
	        <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	        <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	        <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
        </config-file>

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <hook type="after_plugin_install" src="wwww/addResourcesClassImport.js" />

        <source-file src="src/android/com/zebra/adc/decoder/BarCodeReader.java" target-dir="com/zebra/adc/decoder/BarCodeReader" />
        <source-file src="src/android/BarcodeScanner.java" target-dir="src/com/pebuu/scanner/BarcodeScanner" />
        <source-file src="src/android/BarCodeReader.java" target-dir="src/com/pebuu/scanner/BarCodeReader" />
        <source-file src="src/android/BeepUtil.java" target-dir="src/com/pebuu/scanner/BeepUtil" />
        <!--<source-file src="src/android/libs/printer_library.jar" target-dir="libs" />
        
        <source-file src="src/android/libs/android-support-annotations.jar" target-dir="libs" />
        -->
        <resource-file src="src/android/libs/arm64-v8a/libIAL.so" target="libs/arm64-v8a/libIAL.so"/>
        <resource-file src="src/android/libs/arm64-v8a/libSDL.so" target="libs/arm64-v8a/libSDL.so"/>
        <resource-file src="src/android/libs/arm64-v8a/libbarcodereader44.so" target="libs/arm64-v8a/libbarcodereader44.so"/>
        <resource-file src="src/android/libs/arm64-v8a/libbarcodereader70.so" target="libs/arm64-v8a/libbarcodereader70.so"/>
        <resource-file src="src/android/libs/arm64-v8a/libbarcodereader80.so" target="libs/arm64-v8a/libbarcodereader80.so"/>
        <resource-file src="src/android/libs/armeabi/libIAL.so" target="libs/armeabi/libIAL.so"/>
        <resource-file src="src/android/libs/armeabi/libSDL.so" target="libs/armeabi/libSDL.so"/>
        <resource-file src="src/android/libs/armeabi/libbarcodereader.so" target="libs/armeabi/libbarcodereader.so"/>
        <resource-file src="src/android/libs/armeabi/libbarcodereader44.so" target="libs/armeabi/libbarcodereader44.so"/>
        <resource-file src="src/android/libs/armeabi/libbarcodereader70.so" target="libs/armeabi/libbarcodereader70.so"/>
        <resource-file src="src/android/libs/armeabi/libbarcodereader80.so" target="libs/armeabi/libbarcodereader80.so"/>
         <!--  drawable src/android/resources -->
        <resource-file src="src/android/res/drawable-hdpi/pebuu_africa.jpg" target="res/drawable-hdpi/pebuu_africa.jpg" />
        <resource-file src="src/android/res/drawable-mdpi/pebuu_africa.jpg" target="res/drawable-mdpi/pebuu_africa.jpg" />
        <resource-file src="src/android/res/drawable-xhdpi/pebuu_africa.jpg" target="res/drawable-xhdpi/pebuu_africa.jpg" />
        <resource-file src="src/android/res/drawable-xxhdpi/pebuu_africa.jpg" target="res/drawable-xxhdpi/pebuu_africa.jpg" />
        <resource-file src="src/android/res/drawable-hdpi/unffe_logo.png" target="res/drawable-hdpi/unffe_logo.png" />
        <resource-file src="src/android/res/drawable-mdpi/unffe_logo.png" target="res/drawable-mdpi/unffe_logo.png" />
        <resource-file src="src/android/res/drawable-xhdpi/unffe_logo.png" target="res/drawable-xhdpi/unffe_logo.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/unffe_logo.png" target="res/drawable-xxhdpi/unffe_logo.png" />
        <resource-file src="src/android/res/raw/beep.ogg" target="res/raw/beep.ogg" />
    </platform>
</plugin>